.checkListTable table, tr, th, td {
    border:2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.hidden {
    display: none;
}

.homePageIframe {
    width: 100%;
    height: auto;
    margin: 0 auto;
}